/* Form */
.block__form-title-container {
  background: url("/images/bg-footer-squiggle.svg") no-repeat center;
  background-size: cover;
  margin-bottom: 2rem;
}

.block__form-title {
  margin: 0 auto;
  width: 15ch;
}

.footer__form {
  margin: 0 4rem;
}

.form__input,
.form__button {
  border-radius: 24px;
  border: none;
  display: block;
  width: 100%;
}

.form__button {
  margin-top: 2.4rem;
  border: 2px solid $color-accent;
  background: $color-accent;
  padding: 1rem;
  font-size: 1.5rem;

  & > span,
  ::placeholder {
    font-weight: 800;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background: $color-back-ground;
  }

  &:hover span {
    color: $color-headings;
    opacity: 1;
  }

  & > span {
    color: $color-back-ground;
    opacity: 0.7;
  }
}

.form__input {
  border: 2px solid $color-primary;
  background: $color-primary;
  box-sizing: border-box;
  color: $color-headings;
  padding: 1rem 1rem 1rem 1.5rem;
  font-size: 1.5rem;

  &:focus {
    outline: none;
    border: 2px solid $color-accent;
  }
}

.form__input--error {
  border: 2px solid $color-errors;
}

::placeholder {
  color: $color-headings;
  font-size: 15px;
  opacity: 0.4;
}

.footer__form__error-message {
  text-align: center;
  margin: 0.5rem;
  color: $color-errors;
}

.message-collapse {
  visibility: collapse;
}

@media screen and (min-width: $display-tablet) {
  .block__form-title {
    width: auto;
  }

  .block__form-title-container {
    background: none;
  }

  .block__form-title {
    background: none;
  }

  .block__prices-container {
    padding: 6rem;
  }

  .footer__form {
    display: flex;
    gap: 1.5rem;
    min-width: 40rem;
    margin: 3rem auto 0;
  }

  .footer__form__error-message {
    padding-right: 6rem;
  }

  .form__input {
    flex-grow: 1;
  }

  .form__button {
    padding: 1rem 1.5rem;
    margin-top: 0;
    display: initial;
    max-width: 13rem;
  }
}

@media screen and (min-width: $display-desktop) {
  .block__prices-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 4rem;
    padding: 10rem;
  }
}
