/* Header */
.header__logo {
  display: block;
  margin: 4rem auto 0;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin: 4.8rem 0 0 4rem;
  }
}

@media screen and (min-width: 1340px) {
  .header__logo {
    margin: 8.1rem 0 0 16.5rem;
  }
}
