<main class="block__banner" data-aos="zoom-in">
  <div class="hero__image-mobile">
    <img src="/images/illustration-hero-mobile.png" alt="" />
  </div>
  <svg width="408" height="460" class="hero__image-left">
    <use href="images/illustration-hero-left.svg#hero-left"></use>
  </svg>
  <article class="hero__content">
    <h1>Get paid for the work you <em>love</em> to do.</h1>
    <p>
      The 9-5 grind is so last century. We believe in living life on your own
      terms. Whether you’re looking to escape the rat race or set up a side
      hustle, we’ve got you covered.
    </p>
    <div>
      <svg width="26" height="42" class="hero__icon-mouse">
        <use href="images/icon-scroll.svg#scroll"></use>
      </svg>
    </div>
  </article>
  <svg width="395" height="443" class="hero__image-right">
    <use href="images/illustration-hero-right.svg#hero-right"></use>
  </svg>
</main>
