<section class="hero">
  <picture class="hero__image-mobile">
    <source
      type="image/webp"
      srcset="
        images/illustration-hero-mobile.webp    1x,
        images/illustration-hero-mobile@2x.webp 2x
      "
    />
    <source
      type="image/png"
      srcset="
        images/illustration-hero-mobile.png    1x,
        images/illustration-hero-mobile@2x.png 2x
      "
    />
    <img src="/images/illustration-hero-mobile.png" alt="" />
  </picture>
  <svg width="408" height="443" class="hero__image-left">
    <use xlink:href="images/illustration-hero-left.svg#hero-left"></use>
  </svg>
  <article class="hero__content">
    <h1>Get paid for the work you <em>love</em> to do.</h1>
    <p>
      The 9-5 grind is so last century. We believe in living life on your own
      terms. Whether you’re looking to escape the rat race or set up a side
      hustle, we’ve got you covered.
    </p>
    <svg width="26" height="42">
      <use xlink:href="images/icon-scroll.svg#scroll"></use>
    </svg>
  </article>
  <svg width="395" height="443" class="hero__image-right">
    <use xlink:href="images/illustration-hero-right.svg#hero-right"></use>
  </svg>
</section>
