:root {
  --color-primary: #093f68;
  --color-secondary: #777f98;
  --color-accent: #3ee9e5;
  --color-back-ground: #080c20;
  --color-headings: #fff;
  --color-errors: #ff2965;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  background: #080c20;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 700;
  text-align: center;
  color: #fff;
}

h1 {
  font-size: 3.2rem;
  line-height: 4rem;
}

h2 {
  font-size: 2.4rem;
  line-height: 3.3rem;
}

h3 {
  font-size: 1.8rem;
  line-height: 2.5rem;
}

p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #777f98;
}

/* Container */
.block {
  margin: 14rem 2.4rem 0;
}

@media screen and (min-width: 768px) {
  .block {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

@media screen and (min-width: 1040px) {
  .block {
    margin-left: 16rem;
    margin-right: 16rem;
  }
}

/* Header */
.header__logo {
  display: block;
  margin: 4rem auto 0;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin: 4.8rem 0 0 4rem;
  }
}

@media screen and (min-width: 1340px) {
  .header__logo {
    margin: 8.1rem 0 0 16.5rem;
  }
}

/* Icons */
.list__check-icon {
  width: 12px;
  height: 9px;
  margin-right: 1.5rem;
}

.list__check-icon--free {
  fill: var(--color-accent);
}

.hero__icon-mouse {
  animation: hover 1.5s infinite ease-in-out;
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}

.card__icon {
  position: absolute;
}

.card__icon--free {
  width: 46px;
  height: 46px;
  top: -23px;
}

.card__icon--paid {
  width: 51px;
  height: 65px;
  top: -34px;
}

/* Features */

.block__features {
  margin-top: 14rem;
}

.features__header-title {
  margin-bottom: 0;
}

.features__header-text {
  margin-top: 2.7rem;
  margin-bottom: 0;
  text-align: center;
}

.feature__contariner:first-child {
  margin-top: 0;
}

.feature__icon-wrapper {
  align-items: center;
  background: var(--color-primary);
  border-radius: 45px;
  display: inline-flex;
  min-height: 15rem;
  justify-content: center;
  min-width: 15rem;
}

.feature__header {
  color: var(--color-headings);
  margin: 0%;
}

.feature__article {
  margin-top: 3.2rem;
}

.feature__contariner {
  margin-top: 5.6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .block__features {
    margin-top: 10rem;
  }

  .feature__contariner:nth-of-type(odd) {
    margin-left: 6rem;
  }

  .feature__contariner {
    text-align: start;
    flex-direction: row;
  }

  .feature__article {
    margin-top: 0;
    margin-left: 5rem;
  }
}

@media screen and (min-width: 1024px) {
  .block__features {
    display: flex;
    gap: 3rem;
  }

  .feature__contariner:first-child {
    margin-top: 5.6rem;
  }

  .feature__contariner:nth-of-type(odd) {
    margin-left: 0;
  }

  .feature__contariner:nth-of-type(even) {
    margin-top: 12rem;
  }

  .feature__contariner {
    flex-direction: column;
    align-items: flex-start;
  }

  .feature__article {
    margin-top: 4rem;
    margin-left: 0;
  }

  .feature__header {
    text-align: left;
  }
}

/* Plan */
.block__prices-container {
  margin-top: 5rem;
  display: grid;
  grid-gap: 6rem;
}

.card {
  position: relative;
  padding: 3rem;

  border-radius: 8px;
}

.card__header {
  margin-bottom: 5rem;
}

.card__header-title {
  text-align: left;
}

.card__header-text {
  color: inherit;
  opacity: 0.5;
}

.card--free {
  background: var(--color-primary);
  color: var(--color-headings);
}

.card--paied {
  background: var(--color-accent);
  color: var(--color-back-ground);
}

.card__header-title--paid,
.card__header-text--paid {
  color: var(--color-back-ground);
}

.card__price {
  font-weight: 800;
  font-size: 4rem;
  line-height: 5.5rem;
  margin-right: 0.5rem;
}

.card__price-container {
  display: flex;
  align-items: center;
}

.card__list {
  list-style: none;
  padding-left: 0;
}

.card__list-item {
  color: var(--color-headings);
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 3rem;
}

.card__list-item--paid {
  color: var(--color-back-ground);
}

@media screen and (min-width: 1040px) {
  .card--paied {
    transform: scale(1.05) !important;
  }
}

/* Form */
.block__form {
  margin: 14rem 0 16rem;
}

.block__form-title-container {
  background: url("/images/bg-footer-squiggle.svg") no-repeat center;
  background-size: cover;
  margin-bottom: 2rem;
}

.block__form-title {
  margin: 0 auto;
  width: 15ch;
}

.footer__form {
  margin: 0 4rem;
}

.form__input,
.form__button {
  border-radius: 24px;
  border: none;
  display: block;
  width: 100%;
}

.form__button > span,
::placeholder {
  font-weight: 800;
}

.form__button {
  margin-top: 2.4rem;
  border: 2px solid var(--color-accent);
  background: var(--color-accent);
  padding: 1rem;
  font-size: 1.5rem;
}

.form__button:hover {
  background: var(--color-back-ground);
}

.form__button:hover span {
  color: var(--color-headings);
  opacity: 1;
}

.form__button > span {
  color: var(--color-back-ground);
  opacity: 0.7;
}

.form__input {
  border: 2px solid var(--color-primary);
  background: var(--color-primary);
  box-sizing: border-box;
  color: var(--color-headings);
  padding: 1rem 1rem 1rem 1.5rem;
  font-size: 1.5rem;
}

::placeholder {
  color: var(--color-headings);
  font-size: 15px;
  opacity: 0.4;
}

.form__input:focus {
  outline: none;
  border: 2px solid var(--color-accent);
}

@media screen and (min-width: 768px) {
  .block__form-title {
    width: auto;
  }

  .block__form-title-container {
    background: none;
  }

  .block__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("/images/bg-footer-squiggle.svg") no-repeat center;
    background-size: cover;
    min-height: 15vh;
  }

  .block__form-title {
    background: none;
  }

  .block__prices-container {
    padding: 6rem;
  }

  .footer__form {
    display: flex;
    gap: 1.5rem;
    min-width: 40rem;
    margin: 3rem auto 0;
  }

  .form__input {
    flex-grow: 1;
  }

  .form__button {
    padding: 1rem 1.5rem;
    margin-top: 0;
    display: initial;
    max-width: 13rem;
  }
}

@media screen and (min-width: 1040px) {
  .block__form {
    min-height: 25vh;
  }

  .block__prices-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 4rem;
    padding: 10rem;
  }
}

/* Hero contents */
.hero__content {
  text-align: center;
  margin-top: 4.8rem;
  padding: 0 4rem;
}

.hero__content > p {
  margin: 2.3rem 0 3.2rem 0;
}

h1 > em {
  font-style: initial;
  color: var(--color-accent);
}

article > p {
  font-weight: 200;
}

.hero__image-left,
.hero__image-right {
  display: none;
}

.hero__image-mobile > img {
  width: 100%;
}

.hero {
  margin-top: 6.6rem;
}

@media screen and (min-width: 768px) {
  .hero {
    margin-top: 7.7rem;
  }

  .hero__image-mobile {
    display: none;
  }

  .hero__image-left,
  .hero__image-right {
    display: initial;
  }

  .hero__content {
    background: url("/images/bg-hero-squiggle.svg") no-repeat center;
    background-size: contain;
    min-height: 315px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }

  article > svg {
    position: absolute;
    right: -392px;
    top: -100px;
  }

  .hero {
    grid-gap: 1rem;
    display: grid;
    grid-template-columns: 169px 1fr 169px;
    overflow: hidden;
  }

  .hero__image-left {
    justify-self: end;
  }
}

@media screen and (min-width: 1024px) {
  .hero__content > h1 {
    font-size: 48px;
    line-height: 56px;
  }

  .hero {
    grid-gap: 15rem;
    margin-top: 11.4rem;
  }
}

@media screen and (min-width: 1340px) {
  .hero {
    grid-gap: 6rem;
    grid-template-columns: 353px 1fr 335px;
  }
}
